h1 {
    color: white;
    text-align: center;
    background-color: pink;
  }

img {
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 4px solid steelblue;
  }

#active {
    background-color: pink;
    color: steelblue;
  }

* {
    background-color: pink;
    
}

a { color: white;
    margin: 40px;
    font-size: 1.5em;
  }

 a:hover {
    background-color:black;
    color: steelblue;
}